In [2]:
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [10]:
## Playing with Dataframe

df=pd.DataFrame(np.arange(10,30).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5']
                ,columns=["Column1","Column2","Column3","Coumn4"])

In [11]:
df.head()

      Column1  Column2  Column3  Coumn4
Row1       10       11       12      13
Row2       14       15       16      17
Row3       18       19       20      21
Row4       22       23       24      25
Row5       26       27       28      29

In [12]:
df.loc['Row1']

Column1    10
Column2    11
Column3    12
Coumn4     13
Name: Row1, dtype: int64

In [13]:
type(df.loc['Row1'])

pandas.core.series.Series

In [14]:
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1       10       11       12      13
Row2       14       15       16      17
Row3       18       19       20      21
Row4       22       23       24      25
Row5       26       27       28      29